<h1 id="merchant-dashboard-header">Merchants Dashboard</h1>
<div>
  <h3 id="merchant-dashboard-header-1">Merchant With Most Items:</h3>
  <h3 id="merchant-dashboard-header-2">Merchant With Highest Price Item:</h3>
</div>
<div>
  <h3 id="merchant-dashboard-header-3"><%= Merchant.merchant_with_highest_quantity["name"]%></h3>
  <h3 id="merchant-dashboard-header-4"><%= Merchant.merchant_with_highest_price_item%></h3>
</div>
<div class="merchants-dashboard">
  <% merchants.each do |merchant| %>
    <div class="merchant-container">
    <a href="/merchants/<%= merchant.id %>"  style="color: rgb(255, 255, 255)"><%= merchant.name %></a> <br>
    </div>
  <% end %>
</div>
