<div class="back-1 animated flipInY">
<div class="container-new-merchant-1">
    <form action="/merchants/<%= @merchant.id %>" method="POST">
      <p>Edit a merchant name:</p>
      <input type="hidden" name="_method" value="PUT">
      <input type="text" name="merchant[name]" value="<%= @merchant.name %>"/><br/>
      <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
      <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
