<div class="new">
  <div class="container-2">
      <form action="/merchants" method="POST">
        <p>Create a new merchant:</p>
        <input type="text" name="merchant[name]"/><br/>
        <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
        <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
        <input type="submit" value="Submit"/>
      </form>
    </div>
</div>
