<h1 id="merchant-index-header">Create a New Merchant</h1>
<div class="back">
<div class="container-new-merchant">

    <form action="/merchants" class='new-merchant-form'method="post">
      Enter a new merchant name: <br><input id="text-box" type="text" name="merchant[name]"/><br/>
      <button onclick="goBack()">Cancel</button>
      <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
      <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
      <input id="submit-button" onClick="conf()" type="submit" value="Submit"/>
    </form>


</div>
</div>
