<% items.each do |item| %>
  <div class="card-merchant">
    <img src="<%= item.image %>" alt="Ruby" height="100" width="100">
  <div class="container-merchant">
   <a    href="/items/<%= item.id %>"  style="color: rgb(255, 255, 255)"><%= item.name %></a>



        <li>Unit Price  /  $<%= item.unit_price %></li>
      </ul>
    </div>
  </div>
<% end %>
