<div class="back-3">
<div class="container-edit-new">
  <p>Enter a new item:</p>
  <form action="/items" method="post">
    <select name="item[merchant_id]">
      <% @merchants.each do |merchant| %>
      <option value= "<%=merchant.id%>"> <%=merchant.name %> </option>
    <% end %>
    </select><br>
    Enter a item name: <br><input id="text-box" type="text" name="item[name]"/><br/>
    Enter a item description: <input id="text-box" type="text" class="description" name="item[description]"/><br/>
    Enter a item unit-price: <input id="text-box" type="text" name="item[unit_price]"/><br>
    Enter a image url: <input id="text-box" type="text" name="item[image]"/><br/>
    <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
    <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
          <button onclick="goBack()">Cancel</button>
    <input id="submit-button" onClick="conf()" type="submit" value="Submit"/>
  </form>
</div>
</div>
