<html>
  <head>
    <script>
function goBack() {
    window.history.back();
}
</script>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="/reset.css"  type="text/css" />
    <link rel="stylesheet" href="/main.css"  type="text/css" />
    <link rel="shortcut icon" href="https://image.ibb.co/kc8kKc/Ruby_PNG_Image_76678.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <body>
    <header>
      <img src="https://picoolio.net/images/2018/03/21/V2ZZB07974f288dc8aeea6c.jpg" alt="banner" height="200px" width="100%">
    </header>
    <div class="nav"  width="100px">
      <div class="navbar">
        <a class="dropbtn" href="/">Home</a>
        <div class="dropdown-1">
          <button class="dropbtn">Merchants
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content" id="drop-down">
            <a href="/merchants/new">Create a New Merchant</a>
            <a href="/merchants">View All Merchants</a>
            <a href="/merchants-dashboard">Merchants Dashboard</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
            <a href="/items/new">Create a New Item</a>
            <a href="/items">View All Items</a>
            <a href="/items-dashboard">Item Dashboard</a>
          </div>
        </div>
        <div class="dropdown">
    <button class="dropbtn">Invoices
      <i class="la la bub"></i>
    </button>
    <div class="dropdown-content" id="drop-down">
      <a href="/invoices">View All Invoices</a>
      <a href="/invoices-dashboard">Invoice Dashboard</a>
    </div>
  </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
