<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="welcome.css"  type="text/css" />
    <link rel="shortcut icon" href="https://image.ibb.co/kc8kKc/Ruby_PNG_Image_76678.png" type="image/x-icon" />
  </head>
  <body>
    <p>Little Shop Redux</p>
    <a id="submit" class="myButton" href="/items">View Items</a>
    <a id="submit" class="myButton" href="/merchants">View Merchants</a>
    <a id="submit" class="myButton" href="/invoices">View Invoices</a>
  </body>
</html>
