<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="welcome.css"  type="text/css" />
    <link rel="shortcut icon" href="https://i.imgur.com/dfPcsdI.png" type="image/x-icon" />
  </head>
  <body>
<div class="a">Little Shop Redux</div>
<a id="submit" class="myButton" href="/items">Enter</a>
 </body>
 </html>
