<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="/main.css"  type="text/css" />
    <link rel="shortcut icon" href="https://i.imgur.com/dfPcsdI.png" type="image/x-icon" />
  </head>
  <body>
    <header>
     <img src="app/views/welcome.jpg" alt="banner" height="300px" width="100%">
   </header>
 </body>
 </html>
